:root {
  --cyan-600: #0891B2;
  --cyan-800: #155E75;
  --slate-400: #94A3B8;
  --slate-500: #64748B;
  --slate-600: #475569;
  --slate-700: #334155;
  --slate-800: #1E293B;
  --slate-900: #0F172A;
  --border-color: rgba(1,1,1,0.2);
}

* > * {
  box-sizing: border-box;
}

body {
  color: white;
  background: var(--slate-700);
  font-family: verdana;
  overflow-x: hidden;
  font-size: 16px;
}

.screen {
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateX(100%);
  padding: 0.5rem;
}

.screen:not(.next-screen) {
  transition: all 200ms ease-out;
}

.container {
  max-width: 50vh;
  width: 100%;
  height: 100vh;
  margin: auto;
}

.current-screen {
  transform: translateX(0%);
  transition: all 200ms ease-out;
}

.next-screen {
  transform: translateX(-50%);
}

canvas {
  border: 1px solid var(--border-color);
  border-radius: 3px;
  width: 100%;
  background: white;
  margin-bottom: 1rem;
}

input, button {
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
  border-radius: 3px;
}

input[type='text'], input[type='number'] {
  display: block;
  width: 100%;
  border: 1px solid var(--border-color);
}

button, input[type='submit'] {
  background: var(--cyan-600);
  border: 2px solid var(--border-color);
  color: white;
  width: 100%;
  display: block;

}

button:disabled, input[type='submit']:disabled {
  opacity: 0.5;
}

.color-palette {
  display: flex;
  flex-direction: row;
}

.color {
  width: 10%;
  height: 2rem;
  border: 1px solid var(--border-color);
  border-radius: 3px;
}

input[name="color"]:checked + label {
  border: 4px solid var(--cyan-600);
}

input[name="color"] {
  display: none;
}

#white + label { background: white; }
#pink + label { background: pink; }
#red + label { background: red; }
#purple + label { background: purple; }
#blue + label { background: blue; }
#green + label { background: green; }
#yellow + label { background: yellow; }
#orange + label { background: orange; }
#brown + label { background: brown; }
#black + label { background: black; }

label {
  display: block;
  margin-bottom: 0.25rem;
}

#results > * {
  margin-bottom: 2rem;
  background: var(--slate-600);
  padding: 1rem;
  border-radius: 3px;
}